html {
  height: 100%;
  overflow : hidden;
}
body {
    background-image : url(../img/bg-footer-noise.jpg);
    height : 100%;
    margin: 0;
    padding: 0;
}
.formhead {
    
}
.formhead input {
    margin-right : 10px;
}
.hide {
    display : none;
}
.container {
    margin : 15px;
    width : auto;
}
.form-control {
    width : auto;
}
textarea.form-control {
    width : 100%;
    height : 100%;
    font-family : Monaco, Menlo, Consolas, "Courier New", monospace;
    resize : vertical;
}
#canvas {
    width : 100%;
    height :500px;
}
div.well {
    padding : 10px;
    background-color : #151515;
    box-shadow : 0 0 10px black inset, 0 0 300px rgba(0,0,0,0.5) inset;
    background-image : url(../img/bg-footer-noise.jpg);
}
div.well.spliter {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width : 29%;
    height : 800px;
    display : inline-block;
    float : left;
}
div.well.main {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin : 20px;
}
div#whitesheet {
    padding-top : 50px;
    position : relative;
    top : -52px;
    height : 92%;
    z-index : 10;
    background-color: white;
    border-radius : 6px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    overflow : auto;
}
div#btnwrapper {
    position : relative;
    z-index : 50;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width : 100%;
    margin : 0;
    margin-top: 72px;
}
path {
    fill: none;
    stroke : rgba(255, 0, 0, 0.5);
    stroke-width : 2px;
    stroke-linecap : round;
}
rect, circle {
    fill : rgba(255, 0, 0, 0.2);
    stroke : rgba(255, 0, 0, 0.5);
    stroke-width : 1px;
}
path.poly {
    fill : rgba(255, 0, 0, 0.2);
    stroke-width : 1px;
    stroke : rgba(255, 0, 0, 0.5);
}
.coord {
    float : right;
    font-size : 12px;
}
.origin {
    fill : rgba(0, 0, 255, 0.2);
    stroke : rgba(0, 0, 255, 0.5);
}
body.dragOver #file-drop{display:block;} /* During drag */
body #file-drop{z-index:1000;position:fixed;top:0;left:0;width:100%;height:100%;display:none;} /* No drag */
img.texture {
    position : absolute;
    left : 4px;
    top : 55px;
    z-index : 200;
}
#svg {
    position : relative;
    z-index : 300;
    height : 10000px;
    width : 10000px;
}
#svg.background {
    z-index : -300;
}
#whitesheet img {
    border : 1px solid transparent;
}
#whitesheet img.selected {
    border : 1.5px solid rgba(0, 255, 0, 1);
    opacity : 0.5;
}
rect.selected, circle.selected {
    fill : rgba(0, 255, 0, 0.2);
    stroke : rgba(0, 255, 0, 0.5);
}
path.selected {
    fill: none;
    stroke : rgba(0, 255, 0, 0.5);
}
path.poly.selected {
    fill : rgba(0, 255, 0, 0.2);
    stroke : rgba(0, 255, 0, 0.5);
}
.modal label {
    line-height : 38px;
}
.nowrap {
    white-space : nowrap;
}
.modal .form-control {
    display : inline-block;
    margin-left : 10px;
}
.modal input[type=number] {
    width : 100px;
}
.modal input[type=text] {
    width : 300px;
}
.modal input.number {
    width : 100px;
}
#xml {
    height : 92%;
    position: relative;
    top: 10px;
}
form.header table {
    background-color: transparent;
}
form.header input {
    width : 100px;
}
.nav > li > a {
    padding: 15px 12px;
}