<!doctype html>
<html ng-app="levelBuilder">
    <head>
        <meta charset="UTF-8">
        <!-- Libraries -->
        <script src="http://pierrechanel-gauthier.com/lib/js/angular.min.js"></script>
        <script src="http://pierrechanel-gauthier.com/lib/js/jQuery.js"></script>
        <script src="http://pierrechanel-gauthier.com/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/levelController.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="http://pierrechanel-gauthier.com/lib/bootstrap/css/themes/slate.css" type="text/plain">
        <link rel="stylesheet" href="css/styles.css" type="text/plain">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body class="container" ng-controller="levelController">
        <div id="file-drop" imagedrop on-image-drop="imageDropped()"></div>
        <div class="bsa well">
            <form class="form-inline">
                <!--<label for="name">Nom du niveau : </label>-->
                <input id="name" type="text" class="form-control" ng-model="name" placeholder="Nom du niveau" style="width:500px;">
                <!--<label for="gx" style="margin-left:50px;">Gravité : </label>-->
                <input id="gx" type="number" class="form-control" ng-model="gx" placeholder="Gravité x" style="width:105px;">
                <input id="gy" type="number" class="form-control" ng-model="gy" placeholder="Gravité y" style="width:105px;">
            </form>
        </div>
        <div class="bsa well main" style="margin-right:15px;">
            <!--<canvas id="canvas"></canvas>-->
            <div class="navbar navbar-default" id="btnwrapper">
                <div class="navbar-collapse collapse navbar-responsive-collapse" style="padding:0">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: createType=='select1'||createType=='select2'}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-location-arrow"></i> Sélection <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-class="{active: createType=='select1'}" ng-click="setCreateType('select1')"><a href=""><i class="fa fa-picture-o"></i> Textures</a></li>
                                <li ng-class="{active: createType=='select2'}" ng-click="setCreateType('select2')"><a href=""><i class="fa fa-star"></i> Éléments</a></li>
                            </ul>
                        </li>
                        <li ng-class="{active: createType=='origin'}" ng-click="setCreateType('origin')"><a href=""><i class="fa fa-thumb-tack"></i> Origine</a></li>
                        <li ng-class="{active: createType=='rect'}" ng-click="setCreateType('rect')"><a href=""><i class="fa fa-square"></i> Rectangle</a></li>
                        <li ng-class="{active: createType=='circle'}" ng-click="setCreateType('circle')"><a href=""><i class="fa fa-circle"></i> Cercle</a></li>
                        <li ng-class="{active: createType=='poly'}" ng-click="setCreateType('poly')"><a href=""><i class="fa fa-star"></i> Polygone</a></li>
                        <li ng-class="{active: createType=='path'}" ng-click="setCreateType('path')"><a href=""><i class="fa fa-star-o"></i> Chemin</a></li>
                        <li ng-if="isSelected!==false" ng-click="showProperties()"><a href=""><i class="fa fa-cog"></i> Propriétés</a></li>
                        <li ng-if="isSelected!==false" ng-click="delete()"><a href=""><i class="fa fa-ban"></i> Supprimer</a></li>
                        <li ng-class="{active: createType=='resize'}" ng-if="showResize!==false" ng-click="setCreateType('resize')"><a href=""><i class="fa fa-arrows"></i> Redimensionner</a></li>
                    </ul>
                    <a class="navbar-brand coord" href="">x : {{planCoord.x}} | y : {{planCoord.y}}</a>
                </div>
            </div>
            <div id="whitesheet" ng-right-click="actionEndPath()" ng-left-click="actionBegin()" ng-mouseup="actionEnd()" ng-mousemove="setMouseCoord($event);actionUpdate();">
                <svg id="svg" ng-class="{background: createType=='select1'}">
                    <circle class="origin" ng:attr:cx="{{origin.cx}}" ng:attr:cy="{{origin.cy}}" ng:attr:r="{{origin.r}}" />
                    <g ng-repeat="e in elements">
                        <rect ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='rect'" ng:attr:x="{{e.x}}" ng:attr:y="{{e.y}}" ng:attr:width="{{e.width}}" ng:attr:height="{{e.height}}" ng:attr:style="{{e.style}}" />
                        <circle ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='circle'" ng:attr:cx="{{e.x}}" ng:attr:cy="{{e.y}}" ng:attr:r="{{e.r}}" />
                        <path ng:attr:id="{{e.id}}" class="poly" ng-click="setSelected($event)" ng-if="e.type=='poly'" ng:attr:d="{{e.d}}" />
                        <path ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='path'" ng:attr:d="{{e.d}}" />
                    </g>
                </svg>
                <img ng-repeat="t in textures" class="texture" ng-click="setSelected($event)" ng:attr:src="{{t.src}}">
            </div>
        </div>
        <!-- Modales -->
        <div ng-repeat="e in elements" class="modal fade" ng:attr:id="modalInfo{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="generateXML()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Propriétés de l'élément {{e.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Body</legend>
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="e.name" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="body_type" class="control-label">Type</label>
                                <select ng-model="e.body_type" class="form-control" id="body_type">
                                    <option value="static">Statique</option>
                                    <option value="dynamic">Dynamique</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="body_tag" class="control-label">Tag</label>
                                <input ng-model="e.body_tag" type="text" class="form-control" id="body_tag">
                            </div>
                            <div class="form-group">
                                <label for="body_bullet" class="control-label">Bullet</label>
                                <select ng-model="e.body_bullet" class="form-control" id="body_bullet">
                                    <option value="true">Oui</option>
                                    <option value="false">Non</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="body_angular_damping" class="control-label nowrap">Angular damping</label>
                                <input ng-model="e.body_angular_damping" type="text" class="number form-control" id="body_angular_damping">
                            </div>
                            <div class="form-group">
                                <label for="body_linear_damping" class="control-label nowrap">Linear damping</label>
                                <input ng-model="e.body_linear_damping" type="text" class="number form-control" id="body_linear_damping">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Fixture</legend>
                            <div class="form-group">
                                <label for="fixture_density" class="control-label nowrap">Density</label>
                                <input ng-model="e.fixture_density" type="text" class="number form-control" id="fixture_density">
                            </div>
                            <div class="form-group">
                                <label for="fixture_restitution" class="control-label nowrap">Restitution</label>
                                <input ng-model="e.fixture_restitution" type="text" class="number form-control" id="fixture_restitution">
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="generateXML()">Fermer</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="bsa well main">
            <textarea id="xml" class="form-control">
            </textarea>
        </div>
    </body>
</html>