<!doctype html>
<html ng-app="levelBuilder">
    <head>
        <meta charset="UTF-8">
        <!-- Libraries -->
        <script src="http://pierrechanel-gauthier.com/lib/js/angular.min.js"></script>
        <script src="http://pierrechanel-gauthier.com/lib/js/jQuery.js"></script>
        <script src="http://pierrechanel-gauthier.com/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- Functions -->
        <script src="js/functions.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/levelController.js"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="http://pierrechanel-gauthier.com/lib/bootstrap/css/themes/slate.css" type="text/plain">
        <link rel="stylesheet" href="css/styles.css" type="text/plain">
        <link rel="stylesheet" href="lib/font-awesome-4.0.3/css/font-awesome.min.css" type="text/plain">
    </head>
    <body ng-controller="levelController">
        <div id="file-drop" imagedrop on-image-drop="imageDropped()"></div>
        <div class="bsa well main">
            <form class="form-inline formhead header" style="margin-bottom:10px;">
                <table style="float:left;">
                    <tr>
                        <th><div class="label">Nom du niveau</div></th>
                        <th><div class="label">Gravité x</div></th>
                        <th><div class="label">Gravité y</div></th>
                        <th><div class="label">Angular Damping</div></th>
                        <th><div class="label">Linear Damping</div></th>
                        <th><div class="label">Impulsion</div></th>
                        <th><div class="label">Restitution</div></th>
                    </tr>
                    <tr>
                        <td><input id="name" type="text" class="form-control" ng-model="name" style="width:300px;" /></td>
                        <td><input id="gx" type="number" class="form-control" ng-model="gx" /></td>
                        <td><input id="gy" type="number" class="form-control" ng-model="gy" /></td>
                        <td><input id="player_angular_damping" type="number" class="form-control" ng-model="player_angular_damping" /></td>
                        <td><input id="player_linear_damping" type="number" class="form-control" ng-model="player_linear_damping" /></td>
                        <td><input id="impulse_strength" type="number" class="form-control" ng-model="impulse_strength" /></td>
                        <td><input id="restitution" type="number" class="form-control" ng-model="restitution" /></td>
                    </tr>
                </table>
                <button style="float:right;margin-top:22px;" type="button" class="btn btn-default" ng-class="{active:showXML}" ng-click="toggleXML()">XML</button>
            </form>
            <!--<canvas id="canvas"></canvas>-->
            <div class="navbar navbar-default" id="btnwrapper" ng-class="{hide:showXML}">
                <div class="navbar-collapse collapse navbar-responsive-collapse" style="padding:0">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: createType=='select1'||createType=='select2'}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-location-arrow"></i> Sélections <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-class="{active: createType=='select1'}" ng-click="setCreateType('select1')"><a href=""><i class="fa fa-picture-o"></i> Texture</a></li>
                                <li ng-class="{active: createType=='select2'}" ng-click="setCreateType('select2')"><a href=""><i class="fa fa-star"></i> Élément</a></li>
                            </ul>
                        </li>
                        <li ng-class="{active: createType=='origin'}" ng-click="setCreateType('origin')"><a href=""><i class="fa fa-thumb-tack"></i> Origine</a></li>
                        <li ng-class="{active: createType=='rect'}" ng-click="setCreateType('rect')"><a href=""><i class="fa fa-square"></i> Rectangle</a></li>
                        <li ng-class="{active: createType=='circle'}" ng-click="setCreateType('circle')"><a href=""><i class="fa fa-circle"></i> Cercle</a></li>
                        <li ng-class="{active: createType=='poly'}" ng-click="setCreateType('poly')"><a href=""><i class="fa fa-star"></i> Polygone</a></li>
                        <li ng-class="{active: createType=='path'}" ng-click="setCreateType('path')"><a href=""><i class="fa fa-star-o"></i> Chemin</a></li>
                        <li ng-class="{active: createType=='joint1'||createType=='joint2'}" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-link"></i> Jointures <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-class="{active: createType=='joint1'}" ng-click="setCreateType('joint1')"><a href=""><i class="fa fa-undo"></i> Jointure de révolution</a></li>
                                <li ng-class="{active: createType=='joint2'}" ng-click="setCreateType('joint2')"><a href=""><i class="fa fa-arrows-h"></i> Jointure distante</a></li>
                            </ul>
                        </li>
                        <li ng-if="isSelected!==false && showProp!==false" ng-click="showProperties()"><a href=""><i class="fa fa-cog"></i> Propriétés</a></li>
                        <li ng-if="isSelected!==false" ng-click="delete()"><a href=""><i class="fa fa-ban"></i> Supprimer</a></li>
                        <li ng-class="{active: createType=='resize'}" ng-if="showResize!==false" ng-click="setCreateType('resize')"><a href=""><i class="fa fa-arrows"></i> Redimensionner</a></li>
                    </ul>
                    <a class="navbar-brand coord" href="">x : {{planCoord.x}} | y : {{planCoord.y}}</a>
                </div>
            </div>
            <div ng-class="{hide:showXML}" id="whitesheet" ng-right-click="actionEndPath()" ng-left-click="actionBegin()" ng-mouseup="actionEnd()" ng-mousemove="setMouseCoord($event);actionUpdate();">
                <svg id="svg" ng-class="{background: createType=='select1'}">
                    <circle class="origin" ng:attr:cx="{{origin.cx}}" ng:attr:cy="{{origin.cy}}" ng:attr:r="{{origin.r}}" />
                    <g ng-repeat="e in elements" ng-if="e.display">
                        <rect ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='rect'" ng:attr:x="{{e.x}}" ng:attr:y="{{e.y}}" ng:attr:width="{{e.width}}" ng:attr:height="{{e.height}}" ng:attr:style="{{e.style}}" />
                        <circle ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='circle'" ng:attr:cx="{{e.x}}" ng:attr:cy="{{e.y}}" ng:attr:r="{{e.r}}" />
                        <path ng:attr:id="{{e.id}}" class="poly" ng-click="setSelected($event)" ng-if="e.type=='poly'" ng:attr:d="{{e.d}}" />
                        <path ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='path'" ng:attr:d="{{e.d}}" />
                        <circle ng:attr:id="{{e.id}}" ng-click="setSelected($event)" ng-if="e.type=='joint1'" ng:attr:cx="{{e.x}}" ng:attr:cy="{{e.y}}" ng:attr:data-type="{{e.type}}" r="5" />
                    </g>
                </svg>
                <img ng-repeat="t in textures" class="texture" ng-click="setSelected($event)" ng:attr:src="{{t.src}}">
            </div>
            <textarea ng-class="{hide:!showXML}"  id="xml" ng-model="xml" class="form-control" spellcheck="false">
            </textarea>
        </div>
        <!-- Modales -->
        <div ng-repeat="e in elements" class="modal fade" ng:attr:id="modalInfo{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="generateXML()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Propriétés de l'élément {{e.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <fieldset>
                            <legend>Body</legend>
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input ng-model="e.name" type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="body_type" class="control-label">Type</label>
                                <select ng-model="e.body_type" class="form-control" id="body_type">
                                    <option value="static">Statique</option>
                                    <option value="dynamic">Dynamique</option>
                                    <option value="kinematic">Cinématique</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="body_tag" class="control-label">Tag</label>
                                <input ng-model="e.body_tag" type="text" class="form-control" id="body_tag">
                            </div>
                            <div class="form-group">
                                <label for="body_bullet" class="control-label">Bullet</label>
                                <select ng-model="e.body_bullet" class="form-control" id="body_bullet">
                                    <option value="true">Oui</option>
                                    <option value="false">Non</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="body_angular_damping" class="control-label nowrap">Angular damping</label>
                                <input ng-model="e.body_angular_damping" type="text" class="number form-control" id="body_angular_damping">
                            </div>
                            <div class="form-group">
                                <label for="body_linear_damping" class="control-label nowrap">Linear damping</label>
                                <input ng-model="e.body_linear_damping" type="text" class="number form-control" id="body_linear_damping">
                            </div>
                            <div class="form-group">
                                <label for="end_x" class="control-label nowrap">Déplacement coordonnée x de fin</label>
                                <input ng-model="e.end_x" type="text" class="number form-control" id="end_x">
                            </div>
                            <div class="form-group">
                                <label for="end_y" class="control-label nowrap">Déplacement coordonnée y de fin</label>
                                <input ng-model="e.end_y" type="text" class="number form-control" id="end_y">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Fixture</legend>
                            <div class="form-group">
                                <label for="fixture_density" class="control-label nowrap">Density</label>
                                <input ng-model="e.fixture_density" type="text" class="number form-control" id="fixture_density">
                            </div>
                            <div class="form-group">
                                <label for="fixture_restitution" class="control-label nowrap">Restitution</label>
                                <input ng-model="e.fixture_restitution" type="text" class="number form-control" id="fixture_restitution">
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="generateXML()">Fermer</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
</html>